*{
  padding: 0;
  margin: 0;
}

/* 用于清除高度崩塌 解决子元素在父元素中设置垂直外边距*/
.clearfix:before,.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/******************* 头部开始 **********************/
/* 设置头部框架样式 */
.header{
  width: 100%;
  height: 68px;
  /* background-color: #bfa; */
}

/* 设置新世界的小图标样式 */
.header .world_icon{
  text-decoration: none;
  margin-left: 64px;
  float: left;
}
/* 设置小图标图片样式 */
.header img{
  margin: 12px 10px 0 0;
  float: left;
}
/* 设置小图标中文字样式 */
.header .world_icon span{
    color: black;
    font: 20px/64px "微软雅黑";
}

/* 设置导航栏ul的样式 */
.nav .navs{
  list-style: none;
  float: right;
}

/* 设置导航栏li的样式 */
.nav .navs li{
  float: left;
  line-height: 64px;
  padding: 0 15px;
}
/* 设置导航栏中字体的样式 */
.nav .navs a{
  text-decoration: none;
  color: #A2A2A2;
  font-size: 14px;
}
/* 设置导航栏中鼠标移到li上更改a的样式 */
.nav .navs li:hover > a{
  color: #E7504D;
}
/* 设置导航栏中鼠标移到li的样式 */
.nav .navs li:hover{
  border-bottom: 3px #E7504D solid;
}
/* 设置导航栏中第一个默认样式 */
/* .nav .navs li:nth-of-type(1){
  border-bottom: 3px #E7504D solid;
} */
/* 设置导航栏中第一个默认样式
.nav .navs li:nth-of-type(1)>a{
  color: #E7504D;
} */
/* 设置登录小图标的样式 */
.nav .navs .small_login{
  float: left;
  padding-top: 10px;
}
/******************* 头部结束 **********************/

/******************* 设置第一部分 ******************/
/* 设置第一部分背景图片 */
.section1{
  background: url("../img/newlife.png");
  background-size: cover;
  width: 100%;
  height: 691px;
  clear: both;
  position: relative;
}
/* 设置背景图片的背景 */
.section1 .grayb{
  width: 100%;
  height: 691px;
  background-color: rgba(0,0,0,0.4);
}
/* 设置第一部分位于图片的位置 */
.section1 .life{
  position: absolute;
  top: 230px;
  left: 125px;
}
/* 设置第一部分h2字体样式 */
.section1 .life h2{
  color: #333333;
  font-size: 60px;
  font-weight: normal;
}
/* 设置第一部分p的样式 */
.section1 p{
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin: 35px 0 60px 0;
}
/* 设置第一部分按钮的样式 */
.section1 button{
  width: 330px;
  height: 64px;
  border: none;
  background-color: #E64F4D;
  color: white;
  font-size: 30px;
}
/******************* 设置第一部分结束 *****************/

/******************* 设置第二部分 ******************/
设置第二部分框架高度
.section2{
  width: 100%;
  height: 245px;
}
/* 设置ul的样式 */
.section2 .fouricon{
  list-style: none;
  text-align: center;
}
/* 设置li的宽度 */
.section2 .fouricon li{
  float: left;
  width: 25%;
  padding-bottom: 60px;
}
/* 设置图片的外边距 */
.section2 .fouricon img{
  margin: 45px 100px;
}

/* 设置文字的样式 */
.section2 .fouricon p{
  width: 56%;
  height: 50px;
  font-size: 14px;
  padding: 0 21.5%;
  border-right: 2px #999 solid;
}
/* 设置最后的一个文字没有边框 */
.section2 .fouricon .noborder{
  border: none;
}
/******************* 设置第二部分结束 ******************/

/******************* 设置第三部分开始 ******************/
/* 设置的第三部分框架样式 */
.section3{
  width: 100%;
  height: 360px;
  background-color: #EEECED;
}
/* 设置第三部分图片样式 */
.section3 img{
  display: block;
  margin: 90px auto 70px auto;
}
/* 设置第三部分文字样式 */
.section3 p{
  text-align: center;
  color: #A0A0A0;
  font-size: 48px;
}
/******************* 设置第三部分结束 ******************/

/******************* 设置第四部分开始 ******************/
/* 设置第四部分的框架 */
.section4{
  position: relative;
  background: url("../img/4part.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 343px;
}
/* 设置第四部分的背景 */
.section4 .pinkb{
  background: rgba(170,52,50,0.3);
  width: 100%;
  height: 343px;
}
/* 设置第四部分文字居中 */
.section4 .word_center{
  text-align: center;
   margin-top: 50px;
}
/* 设置白色线条 */
.section4 .word_center .line{
  margin: 10px auto;
  width: 10%;
  height: 2px;
  background: white;
}
/* 设置第四部分文字居中 */
.section4 .word_center p{
  color: white;
  font-size: 20px;
}
/* 设置文字的大小 */
.section4 .word_center .smallsize{
  font-size: 16px;
}
/* 设置选择框的位置 */
.section4 .search_country{
  width: 980px;
  margin: 0 auto;
  margin-top: 55px;
}
/* 设置选择框的样式 */
.section4 .search_country .city{
  width: 200px;
  height: 35px;
  border: 1px #BE4F48 solid;
  margin-left: 30px;
  color: #BBBBBB;
}
/* 设置按钮样式 */
.section4 .search_country button{
  width: 240px;
  height: 35px;
  background-color: #BE4F48;
  border: none;
  color: white;
  font: 16px "微软雅黑";
  margin-left:30px;
}
/******************* 设置第四部分结束 ******************/

/******************* 设置第五部分开始 ******************/
/* 设置第五部分的框架 */
.section5{
  width: 100%;
  margin: 100px 0;
}

/* 设置北京的框架 */
.beijing{
  margin-left: 12%;
  height: 340px;
  text-align: center;
  float: left;
}
/* 设置北京框架中的图片 */
.section5 .beijing .pic1{
  background: url("../img/gallery.png") -147px 0;
  width: 220px;
  height: 342px;
}
/* 设置灰色小字的样式 */
.section5 .grayfont{
  margin: 15px 0;
  font-size: 12px;
  color: #666;
}
/* 设置上海的框架 */
.shanghai{
  height: 340px;
  text-align: center;
  margin: 0 35px;
  float: left;
}
/* 设置上海框架中的图片 */
.shanghai .pic2{
  background: url("../img/gallery.png") -403px -53px;
  width: 220px;
  height: 342px;
}

/* 设置上海文字的大小和间隔 */
.shanghai .fontspace{
  font-size: 20px;
  /* 设置字体的间隔 */
  letter-spacing: 1em;
  padding-left: 15px; 
}
/* 设置深圳的框架 */
.shenzheng{
  height: 340px;
  text-align: center;
  margin-right: 40px;
  float: left;
}
/* 设置深圳框架中的图片 */
.shenzheng .pic3{
  background: url("../img/gallery.png") -659px 0px;
  width: 220px;
  height: 342px;
  
}
/* 设置香港的框架 */
.xianggang{
  height: 340px;
  text-align: center;
  float: left;
}
/* 设置香港框架中的图片 */
.xianggang .pic4{
  background: url("../img/gallery.png") -916px 0px;
  width: 220px;
  height: 342px;
}
/******************* 设置第五部分结束 ******************/

/******************* 设置第六部分开始 ******************/
/* 设置第六部分框架 */
.section6{
  width: 100%;
  margin-top: 150px;
}
/* 设置左边部分图片背景 */
.section6 .time{
  width: 66%;
  height: 567px;
  background: url("../img/6part.png") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  float: left;
}
/* 设置小三角样式 */
.time .icon{
  width: 28px;
  height: 31px;
  background: url("../img/6part-1.png") no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
}
/* 设置左边图片中的字体样式 */
.time .words{
  margin-top: 140px;
  position: relative;
}
/* 设置新世界字体样式 */
.words .words1{
  color: #fff;
  font-size: 48px;
  font-weight: normal;
}
/* 设置time字体样式 */
.words .words2{
  color: #fff;
  font: 150px Verdana, Geneva, sans-serif;
}
/* 设置图片剩下的字体样式 */
.words .words3{
  color: #fff;
  font-size: 22px;
}
/* 设置右部分框架 */
.section6 .rightcontent{
  width: 23%;
  height: 100%;
  text-align: center;
  padding: 60px 30px 60px 74px;
  float: left;
}
/* 设置标题字体样式 */
.rightcontent .title{
  font: 21px "微软雅黑";
  margin: 50px 0 20px 0;
}
/* 设置span样式 */
.rightcontent span{
  color: #BE4F48;
}
/* 设置主要内容样式 */
.rightcontent .content{
  color: #aaa;
  font-size: 14px;
  text-indent: 2em;
  line-height: 25px;
}
/* 设置按钮样式 */
.rightcontent button{
  width: 126px;
  height: 43px;
  border: 1px #BE4F48 solid;
  background-color: #fff;
  color: #BE4F48;
  margin-top: 55px;
}
/* 设置鼠标浮动到按钮的样式 */
.rightcontent button:hover{
  color: #fff;
  background-color: #BE4F48;
}
/* 设置ul样式 */
.rightcontent ul{
    list-style: none;    
    margin: 50px 0 0 0;
    display: inline-block;
}
/* 设置小圆球样式 */
.rightcontent li{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #999;
  margin-right: 10px;
  float: left;
}
/* 设置第一个小圆球的背景 */
.rightcontent a:nth-of-type(1) > li{
  background-color: #999;
}
/******************* 设置第六部分结束 ******************/

/******************* 设置第七部分开始 ******************/
/* 设置第七部分框架 */
.section7{
  width: 100%;
}
/* 设置第七部分左边框架样式 */
.section7 .left_part{
  width: 33%;
  height: 521px;
  background-color: #E7504D;
  text-align: center;
  float: left;
}
/* 设置第七部分左边内容上边框 */
.left_part .left_content{
  margin-top: 200px;
}
/* 设置第七部分左边内容文字样式 */
.left_part .left_content p{
  color: #fff;
  font-size: 20px;
}
/* 设置第七部分左边白线样式 */
.left_part .left_content .lines{
  margin: 25px auto;
  width: 10%;
  height: 2px;
  background: #fff;
}
/* 设置第七部分左边按钮样式 */
.left_part .left_content button{
  width: 145px;
  height: 47px;
  color: #fff;
  font-size: 20px;
  border: 1px #fff solid; 
  background-color:  #E7504D;
}
/* 设置第七部分左边鼠标浮动到按钮上 */
.left_part .left_content button:hover{
  color: #E7504D;
  background-color: #fff;
}
/* 设置中间部分框架样式 */
.section7 .middle_part{
  width: 33%;
  height: 521px;
  background-color: #fff;
  text-align: center;
  float: left;
}
/* 设置中间部分上边距样式 */
.middle_part .middle_content{
  margin-top: 200px;
}
/* 设置中间部分字体样式 */
.middle_part .middle_content p{
  font-size: 20px;
}
/* 设置中间部分线 */
.middle_part .middle_content .lines{
  margin: 25px auto;
  width: 10%;
  height: 2px;
  background: #AAA;
}
/* 设置按钮样式 */
.middle_part .middle_content button{
  width: 145px;
  height: 47px;
  color: #E7504D;
  font-size: 20px;
  border: 1px #E7504D solid; 
  background-color:  #fff;
}
/* 设置鼠标浮动动按钮的样式  */
.middle_part .middle_content button:hover{
  color: #fff;
  background-color: #E7504D;
}
/* 设置右边部分框架样式 */
.right_part{
  width: 34%;
  height: 521px;
  background: url("../img/7section.png") no-repeat;
  background-size: cover;
  float: left;
  position: relative;
}
/* 设置鼠标浮动右部分图片样式 */
.right_part:hover .gray{
  width: 100%;
  height: 521px;
  background:rgba(3, 0, 0, .4);
}
/* 设置小三角样式和位置 */
.right_part .picsmall{
  background: url("../img/7section-1.png") no-repeat;
  z-index: 10;
  width: 27px;
  height: 31px;
  position: absolute;
  top: 50%;
  left: 0;
}
/******************* 设置第七部分结束 ******************/

/******************* 设置第八部分开始 ******************/
/* 设置第八部分框架样式位置 */
.section8{
  width: 100%;
  margin: 120px 0 113px 0;
  text-align: center;
}
/* 设置内容宽度和位置 */
.section8 .content{
  width: 30%;
  margin: 0 auto;
}
/* 设置字体样式 */
.content .big_font{
  font-size: 20px;
}
/* 设置线样式 */
.content .line{
  margin: 25px auto;
  width: 10%;
  height: 2px;
  background: #E7504D;
}
/* 设置字体样式 */
.content .small_font{
  font-size: 12px;
}
/******************* 设置第八部分结束 ******************/

/******************* 设置第九部分开始 ******************/
/* 设置第九部分框架样式 */
.section9{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 168px;
}
/* 设置左边内容样式 */
.section9 .content{
  width: 20%;
  list-style-type: none;
  float: left;
}
/* 设置li底部边框 */
.content li{
  margin-bottom: 40px;
}
/* 设置文字标题样式 */
.content .title{
  color: #333;
  font: 14px "微软雅黑";
  margin-bottom: 15px;
}
/* 设置文字样式 */
.content .words{
  font: 12px "微软雅黑";
  color: #aaa;
}
/* 设置a(more)的样式 */
.content a{
  text-decoration: none;
  font-size: 12px;
  color: #aaa;
  float: right;
}
/* 设置小图标的样式 */
.content span{
  display: inline-block;
  width: 15px;
  height: 7px;
  background: url("../img/9part_a.png") no-repeat;
}
/* 设置右边的框架的样式 */
.section9 .people_info{
  width: 60%;
  float: left;
}
/* 设置ul的样式 */
.people_info .input_info{
  list-style-type: none;
  margin-left: 150px;
}
/* 设置输入的框的样式 */
.people_info .input_info .info{
  padding: 0 10px;
  margin-bottom: 15px;
  width: 290px;
  height: 40px;
  border: none;
  font-size: 12px;
  background-color: #EDEDEE;
}
/* 设置textarea的样式 */
.people_info .input_info .describe{
  resize: none;
  width: 540px;
  height: 105px;
  border: none;
  background-color: #EDEDEE;
  padding: 10px;
  margin-bottom: 15px;
}
/* 设置提交按钮的样式 */
.people_info .input_info .submit{
  width: 560px;
  height: 40px;
  color: #666;
  border: none;
  background-color: #EDEDEE;
}
/******************* 设置第九部分结束 ******************/

/******************* 设置第十部分开始 ******************/
/* 设置第10部分框架样式 */
.section10{
  background-color: #32353E;
  width: 100%;
  height: 360px;
}
/* 设置字体居中 */
.section10 .contacts{
  text-align: center;
}
/* 设置标题样式 */
.contacts .title{
  padding-top: 95px;
  font: 22px "微软雅黑";
  color: #fff;
}
/* 设置文字样式 */
.contacts .words{
  margin: 0 auto;
  width: 400px;
  font: 12px "微软雅黑";
  color: #fff;
  padding: 10px 0;
} 
/* 设置输入框的样式 */
.contacts input{
  width: 414px;
  height: 31px;
  padding: 0 10px;
  padding-top: 2px;
  border: none;
}
/* 设置提交按钮的样式 */
.contacts button{
  width: 80px;
  height: 33px;
  background-color: #6F7278;
  border: none;
  color: #fff;
}
/* 设置ul样式 */
.contacts .chat_icon{
  list-style-type: none;
  width: 242px;
  margin: 30px auto 70px auto;
}
/* 设置li位置 */
.contacts .chat_icon li{
  float: left;
  margin-right: 35px;
}
/* 设置第一个社区聊天图片 */
.contacts .chat_icon .icon1{
  width: 28px;
  height: 24px;
  background: url("../img/sprit.png") no-repeat -135px -47px;
}
/* 设置第二个社区聊天图片 */
.contacts .chat_icon .icon2{
  width: 28px;
  height: 25px;
  background: url("../img/sprit.png") no-repeat -135px -72px;
}
/* 设置第三个社区聊天图片 */
.contacts .chat_icon .icon3{
  width: 22px;
  height: 24px;
  background: url("../img/sprit.png") no-repeat -142px -97px;
}
/* 设置第四个社区聊天图片 */
.contacts .chat_icon .icon4{
  width: 24px;
  height: 25px;
  background: url("../img/sprit.png") no-repeat -140px -122px;
}
/******************* 设置第十部分开始 ******************/

/******************* 设置底部 ******************/
/* 设置底部样式和字体样式 */
.footer{
  background-color: #303039;
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 15px;
  line-height: 55px;
}
/* 设置浮动 */
.footer .right{
  float: right;
}
/* 设置超链接样式 */
.footer a{
  text-decoration: none;
  color: #fff;
}
/******************* 设置底部结束 ******************/
