/* 初始化网页 */
*{
  margin: 0;
  padding: 0;
}
/* 解决高度崩塌和确保父元素和子元素的垂直外边距不会重叠 */
.clearfix::after,.clearfix::before{
  content: "";
  display: table;
  clear: both;
}
.clearfix{
  zoom: 1;
}
/* 设置头部 */
.header{
  width: 892px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 45px;
  border-bottom: 2px #938E8C solid; 
}
/* 设置头部的时间p */
.header p{
  font-size: 10px;
  color: #D45D5C;
  float: right;
  margin: 38px 0 9px 0;
}
/* 设置头部的h2 */
.header h2{
  display: inline-block;
  padding: 42px 2px 0 5px;
  font-weight: normal;
  font-size: 14px;
  color: white;
  background-color: #D45D5C;
}
/* 设置内容样式 */
.content{
  width: 892px;
  margin: 0 auto;  
}
/* 设置上半部分样式 */
.content .catpic{
  margin-bottom: 25px;
}
/* 设置图片框架 */
.content .cat1{
  width: 640px;
  height: 300px;
  float: left;
  position: relative;
  background: #bfa;
}

/* 设置绿色方块样式 */
.content .green{
  width: 190px;
  height: 300px;
  opacity: 0.5;
  /* 兼容IE */
  filter: alpha(opacity=50);
  background-color: #75B86B;
  position: absolute;
  top: 0;
  left: 0;
}
/* 设置粉红方块样式 */
.content .powed{
  width: 190px;
  height: 300px;
  opacity: 0.5;
  background-color: #D45D5C;
  position: absolute;
  top: 0;
  right: 0;
}
/* 右边aboutTech样式 */
.content .about{
  border-top: 1px #D45D5C solid;
  width: 202px;
  float: right;
}
/* 右边aboutTech h2 */
.content .about h2{
  font-weight: normal;
  text-decoration: underline;
  line-height: 40px;
}
/* 右边aboutTech p样式 */
.content .about p{
  /* 设置字体为斜体 大小 行距 字体样式 */
  font: italic 12px/12px "楷体";
  color: #676767;
}
/* 右边aboutTech h1样式 */
.content .about h1{
  font: italic bold 110px "微软雅黑";
  color: #75B86B;
}
/* 右边aboutTech h3样式 */
.content .about h3{
  font: 50px "微软雅黑";
  color: #CC8091;
}
/* 中间文章框架 */
.content .article{
  width: 640px;
  margin-bottom: 60px;
}
/* 设置左、右文章框架样式 */
.article .left,.article .right{
  width: 192px;
  float: left;
}
/* 左边文章h4样式 */
.article .left h4{
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  color: #418c59;
  
}
/* 文章p样式 */
.article p{
  font-size: 10px;
}
/* 中间文章样式 */
.article .middle{
  width: 192px;
  margin: 0 15px;
  float: left;
}
/* 中间文章 h4样式 */
.article .middle h4{
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  color: #d2994f;
}
/* 右边文章h4样式 */
.article .right h4{
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  color: #cc7680;
}
/* 含有%文章样式设置底部外边距 */
.article .right .per{
  margin-top: 30px;
}
/* 右边文章%内容样式 */
.article .right .percents{
  color: #cd4a48;
}
/* 设置下半部分文章样式 */
.content .down_art{
  margin-bottom: 45px;
}
/* 设置下半部分左边文章样式 */
.down_art .part_left{
  float: left;
  width: 415px;
  margin-right: 16px;
}
/* 设置下半部分THE大字样式 */
.down_art .part_left span{
  color: #F5E327;
  font-size: 70px;
  font-style: italic;
}
/* 设置下半部分h3样式 */
.down_art .part_left h3{
  color: #11456B;
  font-size: 33px;
  line-height: 40px;
  margin-bottom: 16px;
}
/* 设置下部分许多猫的样式 */
.part_left .morecat{
  border-top: 2px #000 solid;
}
/* 设置下部分大猫的样式 */
.part_left .morecat span{
  color: #F5E327;
  font-style: normal;
  margin-right: 10px;
  float: left;
}
/* 设置下部分p样式 */
.part_left .morecat p{
  font: 12px/16px "宋体";
  color: #767777;
}
/* 设置下部分p首行缩进 */
.part_left .morecat .indent{
  text-indent: 2em;
}
/* 设置下部分图片样式 */
.part_left .morecat img{
  width: 160px;
  float: right;
}
/* 设置右边文章样式 */
.part_right .cat3{
  float: left;
  position: relative;
  margin-bottom: 20px;
}

/* 设置图片灰色阴影 */
.cat3 .gray{
  width: 458px;
  height: 62px;
  background-color: rgba(100,100,100,0.4);
  position: absolute;
  top: 213px;
  left: 0;
}
/* 设置图片灰色阴影中的文字 */
.cat3 .gray h2{
  color: white;
  font: normal 30px "微软雅黑";
  margin: 10px 0 0 30px;
  border-left: 3px #72B16A solid;
}
/* 设置图片灰色阴影中小字 */
.cat3 .gray .smallfont{
  font-size: 10px;
  color: #72B16A;
}
/* 设置图片下半部样式 */
.part_right .twopart{
  width: 460px;
  padding-top: 20px;
  float: right;
  background-color: #EEEEEE;
}
/* 设置3个标题框架样式 */
.twopart .titles{
  margin-bottom: 40px;
}
/* 设置3个标题内容样式 */
.twopart p{
  font: 14px/25px "宋体";
  color: #767777;
}
/* 设置3个三角样式 */
.twopart .dashed{
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 6px;
  border-style: dashed dashed dashed dashed;
  border-color: transparent transparent #767777 transparent;
  margin: 0 10px 4px 20px;
}
/* 设置红色方框框架样式 */
.twopart .redframe .red{
  width: 220px;
  height: 120px;
  background-color: #D45D5C;
  padding: 20px 20px; 
  float: left;
}
/* 设置0样式 */
.red .zero{
  float: left;
  font-size: 72px;
  color: #ffff;
  line-height: 120px;
  border-right: 2px #fff solid;
  margin-right: 10px;
}
/* 设置one two three样式 */
.red .bigfont{
  color: #fff;
  font: italic 20px "微软雅黑"; 
}
/* 设置红色方框hello world样式 */
.red p{
  color: #fff;
  font: 12px "楷体";
}
/* 设置右边hello文章框架 */
.hello{
  float: right;
  width: 200px;
  height: 160px;
  
}
/* 设置左边大引号样式 */
.hello .quote{
  font: 60px/30px "微软雅黑";
  color: #D45D5C;
  font-weight: bold;
}
/* 设置右边大引号样式 */
.hello .quotes{
  font: bold 60px/30px "微软雅黑";
  color: #D45D5C;
  margin: 15px 30px 0 0;
  float: right;
}
/* 设置hello world文字样式 */
.hello p{
  font-size: 12px;
  text-indent: 3em;
  margin-left: 10px;
}
/* 设置底部样式 */
.footer{
  width: 892px;
  height: 100px;
  margin: 0 auto;
  margin-top: 40px;
  border-top: 1px #938E8C solid;
}
/* 设置底部日期样式 */
.footer p{
  font-size: 10px;
    color: #D45D5C;
    float: right;
    margin: 0 0 9px 0;
}